In [1]:
import pandas as pd
import numpy as np

In [2]:
data=np.random.randint(1,10,(5,3))
df=pd.DataFrame(data, columns=list('ABC'))
df

   A  B  C
0  2  1  9
1  3  9  3
2  4  8  9
3  4  1  9
4  2  4  9

In [3]:
# file name for csv

df.to_csv("spam.csv")

In [4]:
df_load=pd.read_csv("spam.csv")

In [5]:
df_load

   Unnamed: 0  A  B  C
0           0  2  1  9
1           1  3  9  3
2           2  4  8  9
3           3  4  1  9
4           4  2  4  9

In [6]:
# check common "?"

pd.read_csv?

In [7]:
df_load=pd.read_csv("spam.csv", index_col=0)

In [8]:
df_load

   A  B  C
0  2  1  9
1  3  9  3
2  4  8  9
3  4  1  9
4  2  4  9

In [10]:
# youtube

# http://u.camdemy.com/media/433